absl-py==2.1.0
ackermann-msgs==2.0.2
action-msgs==1.6.0
action-tutorials-interfaces==0.27.2
action-tutorials-py==0.27.2
actionlib-msgs==5.0.1
addict==2.4.0
aiohttp==3.9.5
aiohttp-cors==0.7.0
aiosignal==1.3.1
ament-clang-format==0.14.4
ament-cmake-google-benchmark==2.0.6
ament-cmake-test==2.0.6
ament-copyright==0.14.4
ament-cppcheck==0.14.4
ament-cpplint==0.14.4
ament-flake8==0.14.4
ament-index-python==1.5.2
ament-lint==0.14.4
ament-lint-cmake==0.14.4
ament-package==0.15.3
ament-pep257==0.14.4
ament-uncrustify==0.14.4
ament-xmllint==0.14.4
angles==1.16.0
anyio==4.4.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
Automat==20.2.0
av==12.3.0
avp-stream==1.0
awscli==1.34.7
babel==2.16.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bidict==0.23.1
bleach==6.1.0
blinker==1.8.2
bloom==0.12.0
botocore==1.35.7
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.6.0
cachetools==5.5.0
camera-calibration==4.0.1
catkin==0.8.10
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
class-registry==2.1.2
click==8.1.7
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.17.0
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
colorlog==6.8.2
comet-ml==3.45.0
comm==0.2.2
command-not-found==0.3
composition-interfaces==1.6.0
ConfigArgParse==1.7
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.0
control-msgs==5.2.0
controller-manager==3.27.0
controller-manager-msgs==3.27.0
cov-core==1.15.0
coverage==6.2
cryptography==43.0.0
cupshelpers==1.0
cv-bridge==3.5.0
cycler==0.11.0
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.18
debugpy==1.8.1
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.27.2
Deprecated==1.2.7
descartes==1.1.0
diagnostic-msgs==5.0.1
diagnostic-updater==4.1.0
dill==0.3.8
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.16
domain-coordinator==0.11.2
dulwich==0.20.31
duplicity==0.8.21
dynamixel-sdk==3.7.31
easyhid==0.0.10
embreex==2.17.7.post5
empy==3.3.4
evdev==1.6.1
everett==3.1.0
example-interfaces==0.10.2
examples-rclpy-executors==0.18.1
examples-rclpy-minimal-action-client==0.18.1
examples-rclpy-minimal-action-server==0.18.1
examples-rclpy-minimal-client==0.18.1
examples-rclpy-minimal-publisher==0.18.1
examples-rclpy-minimal-service==0.18.1
examples-rclpy-minimal-subscriber==0.18.1
exceptiongroup==1.2.1
executing==2.0.1
expandvars==0.12.0
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.20.0
filelock==3.6.0
filters==1.3.2
fire==0.6.0
flake8==4.0.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.29.1
fpsample==0.3.2
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.3.1
future==0.18.2
gast==0.6.0
gazebo-msgs==3.7.0
gdown==5.2.0
generate-parameter-library-py==0.3.8
genmsg==0.5.16
genpy==0.6.16
geometry-msgs==5.0.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gpg==1.16.0
grpcio==1.63.0
grpcio-tools==1.63.0
gsplat==1.0.0
h11==0.14.0
h5py==3.11.0
hidapi==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.2
huggingface-hub==0.23.0
hyperlink==21.0.0
idna==3.3
ikpy==3.3.4
image-geometry==3.5.0
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
interactive-markers==2.4.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaxtyping==0.2.33
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kdl==0.2.21
keras==3.4.1
keyboard==0.13.5
keyring==23.5.0
killport==1.2.0
kiwisolver==1.3.2
kortex-api @ file:///home/armlab/Downloads/kortex_api-2.6.0.post3-py3-none-any.whl
language-selector==0.1
lark==1.1.1
laser-geometry==2.5.0
launch==2.0.4
launch-param-builder==0.1.1
launch-ros==0.24.1
launch-testing==2.0.4
launch-testing-ros==0.24.1
launch-xml==2.0.4
launch-yaml==2.0.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
leap-hand-densetact==0.0.0
leap-hand-utils==0.0.0
libclang==18.1.1
lifecycle-msgs==1.6.0
lightning-utilities==0.11.6
lockfile==0.12.2
logging-demo==0.27.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
manifold3d==2.5.1
map-msgs==2.2.0
mapbox_earcut==1.0.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.6.1
mdurl==0.1.2
mediapy==1.2.2
mercurial==6.1.1
message-filters==4.7.1
mistune==3.0.2
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
moveit==2.7.4
moveit-configs-utils==2.7.4
moveit-msgs==2.4.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
multiprocess==0.70.16
namex==0.0.8
natsort==8.4.0
nav-msgs==5.0.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nerfacc==0.5.2
nerfstudio==1.1.3
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.1
nodeenv==1.9.1
nose2==0.9.2
notebook==7.2.2
notebook_shim==0.2.4
notify2==0.3
numpy==1.26.4
nuscenes-devkit==1.1.9
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.0
olefile==0.46
onnx==1.16.2
open3d==0.18.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
optree==0.12.1
osrf-pycommon==2.1.2
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
paramiko==2.9.3
params_proto==2.12.1
parso==0.8.4
pathos==0.3.2
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.27.2
pexpect==4.8.0
pillow==10.3.0
platformdirs==2.5.1
plotly==5.23.0
pluggy==0.13.0
ply==3.11
pox==0.3.4
ppft==1.7.6.8
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycocotools==2.0.8
pycodestyle==2.8.0
pycollada==0.8
pycparser==2.22
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
PyGithub==1.55
Pygments==2.18.0
PyGObject==3.42.1
pygraphviz==1.7
PyHamcrest==2.0.2
PyJWT==2.3.0
pyliblzfse==0.4.1
pymacaroons==0.13.0
pymeshlab==2023.12.post1
pymoveit2==2.1.0
PyNaCl==1.5.0
pyngrok==7.2.0
pynput==1.7.7
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyquaternion==0.9.9
pyRFC3339==1.1
pyserial==3.5
PySocks==1.7.1
pyspacemouse==1.1.1
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu3
python-box==6.1.0
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-engineio==4.9.1
python-gitlab==2.10.1
python-gnupg==0.4.8
python-json-logger==2.0.7
python-qt-binding==1.2.4
python-socketio==5.11.3
python-xlib==0.33
pythran==0.10.0
pytorch-msssim==1.0.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==26.0.3
qt-dotgraph==2.4.3
qt-gui==2.4.3
qt-gui-cpp==2.4.3
qt-gui-py-common==2.4.3
qtconsole==5.5.2
QtPy==2.4.1
quality-of-service-demo-py==0.27.2
rawpy==0.22.0
rcl-interfaces==1.6.0
rclpy==4.1.6
rcutils==6.2.3
referencing==0.35.1
regex==2024.5.10
reportlab==3.6.8
requests==2.32.3
requests-toolbelt==0.9.1
resource-retriever==3.2.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rmw-dds-common==2.0.1
roman==3.3
ros-image-to-qimage==0.4.1
ros1-bridge==0.10.3
ros2action==0.25.7
ros2bag==0.22.7
ros2bag-mcap-cli==0.22.7
ros2bag-sqlite3-cli==0.22.7
ros2cli==0.25.7
ros2component==0.25.7
ros2controlcli==3.27.0
ros2doctor==0.25.7
ros2interface==0.25.7
ros2launch==0.24.1
ros2lifecycle==0.25.7
ros2multicast==0.25.7
ros2node==0.25.7
ros2param==0.25.7
ros2pkg==0.25.7
ros2run==0.25.7
ros2service==0.25.7
ros2test==0.5.2
ros2topic==0.25.7
rosapi==1.3.2
rosapi-msgs==1.3.2
rosbag==1.15.14
rosbag2-interfaces==0.22.7
rosbag2-py==0.22.7
rosbags==0.10.1
rosbridge-library==1.3.2
rosbridge-msgs==1.3.2
rosbridge-server==1.3.2
rosdep==0.24.0
rosdep-modules==0.24.0
rosdistro==0.9.1
rosdistro-modules==0.9.1
rosgraph==1.15.14
rosgraph-msgs==1.6.0
rosidl-adapter==4.0.1
rosidl-cli==4.0.1
rosidl-cmake==4.0.1
rosidl-generator-c==4.0.1
rosidl-generator-cpp==4.0.1
rosidl-generator-py==0.18.0
rosidl-generator-type-description==4.0.1
rosidl-parser==4.0.1
rosidl-pycommon==4.0.1
rosidl-runtime-py==0.12.0
rosidl-typesupport-c==3.0.1
rosidl-typesupport-cpp==3.0.1
rosidl-typesupport-fastrtps-c==3.0.2
rosidl-typesupport-fastrtps-cpp==3.0.2
rosidl-typesupport-introspection-c==4.0.1
rosidl-typesupport-introspection-cpp==4.0.1
rosinstall-generator==0.1.23
roslib==1.15.8
roslz4==1.15.14
rospkg==1.5.1
rospkg-modules==1.5.1
rospy==1.15.14
rpds-py==0.20.0
rpyutils==0.3.2
rqt==1.3.4
rqt-action==2.1.2
rqt-bag==1.3.5
rqt-bag-plugins==1.3.5
rqt-console==2.1.1
rqt-controller-manager==3.27.0
rqt-gauges==0.0.3
rqt-graph==1.4.3
rqt-gui==1.3.4
rqt-gui-py==1.3.4
rqt-joint-trajectory-controller==3.26.0
rqt-moveit==1.0.1
rqt-msg==1.3.1
rqt-plot==1.2.3
rqt-publisher==1.6.3
rqt-py-common==1.3.4
rqt-py-console==1.1.1
rqt-reconfigure==1.3.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==1.0.0
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.1.1
rqt-shell==1.1.1
rqt-srv==1.1.1
rqt-tf-tree==1.0.5
rqt-topic==1.6.1
rsa==4.7.2
Rtree==1.3.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.2
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.0
screen-resolution-extra==0.0.0
scripts==3.7.0
SecretStorage==3.3.1
semantic-version==2.10.0
Send2Trash==1.8.3
sensor-msgs==5.0.1
sensor-msgs-py==5.0.1
sentry-sdk==2.13.0
service-identity==18.1.0
service-msgs==1.6.0
setproctitle==1.3.3
shape-msgs==5.0.1
shapely==2.0.6
shtab==1.7.1
simple-websocket==1.0.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.3.1
splines==0.3.0
srdfdom==2.0.4
sros2==0.11.3
ssh-import-id==5.11
stack-data==0.6.3
statistics-msgs==1.6.0
std-msgs==5.0.1
std-srvs==5.0.1
stereo-msgs==5.0.1
svg.path==6.3
sympy==1.9
systemd-python==234
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado==0.18.1
tf-transformations==1.0.0
tf2-geometry-msgs==0.31.7
tf2-kdl==0.31.7
tf2-msgs==0.31.7
tf2-py==0.31.7
tf2-ros-py==0.31.7
tf2-sensor-msgs==0.31.7
tf2-tools==0.31.7
threadpoolctl==3.5.0
tifffile==2024.5.10
tikzplotlib==0.10.1
timm==0.6.7
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
topic-monitor==0.27.2
topic-tools==1.2.0
topic-tools-interfaces==1.2.0
torch==2.4.1
torch-fidelity==0.3.0
torchaudio==2.3.0
torchmetrics==1.4.1
torchvision==0.19.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
trajectory-msgs==5.0.1
transforms3d==0.4.1
trimesh==4.4.7
triton==3.0.0
turtlesim==1.6.1
Twisted==22.1.0
type-description-interfaces==1.6.0
typeguard==2.13.3
types-python-dateutil==2.9.0.20240821
typing==3.7.4.3
typing_extensions==4.11.0
tyro==0.8.10
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.3.2
urdfdom-py==1.2.1
uri-template==1.3.0
urllib3==2.2.2
usb-creator==0.3.7
vcstool==0.3.0
vcstools==0.1.42
vhacdx==0.0.8.post1
virtualenv==20.13.0+ds
viser==0.1.27
visualization-msgs==5.0.1
vuer==0.0.30
wadllib==1.3.6
wandb==0.17.7
waterbear==2.6.8
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
widgetsnbextension==4.0.13
wrapt==1.13.3
wsproto==1.2.0
wurlitzer==3.1.1
xacro==2.0.9
xatlas==0.0.9
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.9.4
yourdfpy==0.0.56
zipp==1.0.0
zope.interface==5.4.0
zstandard==0.22.0
